@import '@gaconkzk/flyui-vue3/core/styles/variables.scss';

:root {
  --f-primary: #bababa;
  --f-primary-lighter: #d6d6d6;
  --f-primary-shadow: #8b8b8b;
  --f-primary-highlight: #dfdfdf;
  --t-primary: #454545;
  --f-error: #ef4444;
  --f-error-dark: #7f1d1d;
  --f-scroll: #d6d6d6;
  --f-selected: #447822;
}

@import '@gaconkzk/flyui-vue3/core/styles/neumophism.scss';
@import '@gaconkzk/flyui-vue3/core/styles/components/fscrollable.scss';
